/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
}

.container{
    font-family: 'Balsamiq Sans', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
header {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    font-size: 1.2em;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

header .left {
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

header .left span {
    color: rgb(255, 94, 0);
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 50px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

header nav ul li a:hover::before {
    width: 100%;
}

header nav ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: rgb(255, 94, 0);
    bottom: -5px;
    left: 0;
    transition: width 0.3s;
}

.footer{
    margin-top: 128px;
}



/* Media Queries */
@media (max-width: 768px) {
    header {
        padding: 15px;
    }

    .contact-us {
        padding: 30px;
    }

    .contact-form {
        padding: 0 15px;
    }
}
