* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
  font-size: 24px;
  font-family: "Balsamiq Sans";
}

header .left {
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
header .left span {
  color: rgb(255, 94, 0);
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none;
}

header .mid {
  position: relative;
}

header .mid .navbar a {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 50px;
  transition: 0.3s ease;
}

header .mid .navbar a:before {
  content: "";
  position: absolute;
  background: rgb(255, 94, 0);
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .mid .navbar a:hover:before {
  width: 100%;
}
section {
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 500px;
}
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Lilita One", cursive;
}

.home .content {
  z-index: 888;
  color: #ffffff;
  width: 70%;
  margin-top: 50px;
}

.home .content h1 {
  font-size: 50px;
  justify-content: center;
  letter-spacing: 3px;
  margin-bottom: 30px;
  font-weight: 500;
  text-align: center;
}

.home .content h1 span {
  font-size: 1.5em;
  font-weight: 100;
  color: rgb(255, 94, 0);
  text-align: center;
}

.home .content p {
  margin-bottom: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 28px;
  text-align: center;
  font-size: 22px;;
}

.home .social {
  z-index: 888;
  position: absolute;
  right: 30px;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
}

.home .social a {
  color: white;
  font-size: 3em;
  margin-bottom: 24px;
  transition: 0.3s ease;
}

.home .social a:hover {
  transform: scale(1.3);
  color: rgb(255, 94, 0);
}

.home video {
  z-index: 000;
  filter: brightness(50%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text-item {
  margin: 30px 200px;
  position: absolute;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}

.banner-heading h1 {
  font-size: 90px;
  font-weight: normal;
  color: white;
  font-family: "Balsamiq Sans";
}
.banner-text-item .form {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 130%;
  padding: 1% 2%;
}
.banner-text-item input,
.banner-text-item .date,
.banner-text-item .book {
  padding: 15px;
  margin-right: 10px;
  font-size: 18px;
  font-family: Roboto;
  border-radius: 5px;
  outline: 0;
  border: none;
}
.banner-text-item input {
  width: 50%;
  flex: 2;
}
.banner-text-item .date {
  width: 20%;
  flex: 1;
}
.banner-text-item .book {
  width: 20%;
  flex: 1;
}
.banner-text-item .book {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  padding: 15px;
  cursor: pointer;
  background-color: rgb(255, 94, 0);
  font-size: 16px;
  font-weight: normal;
  font-family: "Barlow Condensed";
  width: 20%;
}

.banner-text-item .book:hover{
  background-color:rgb(250, 250, 0);
  color:black;
}
.places {
  padding-top: 50px;
  background-color: black;
}

.places-text {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
}

.places-text h2 {
  font-family: "Balsamiq Sans";
  font-size: 55px;
  color: #fdfdfd;
  letter-spacing: 1px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.card {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 80%;
  height: auto;
}
.card img {
  max-width: 100%;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
}
.cards .text {
  padding: 20px;
  font-family: "Lucida Sans";
  line-height: 50px;
}

.cards .text {
  color: #ffffff;
  font-family: Cambria;
}
.cards .card-box {
  display: flex;
  flex-flow: row;
  background-color: rgb(231, 106, 34);
  font-size: 18px;
  font-family: Roboto;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
}
.cards .time {
  flex: 1;
}
.cards .location {
  flex: 2;
}
.cards .cost {
  color: #4cafad;
  font-size: 20px;
}

.zoom-img {
  float: left;
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
}
.zoom-img .img-card {
  position: absolute;
  overflow: hidden;
}
.img-card img {
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}
.card:hover .zoom-img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.about {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 150px;
  background-color: black;
}
.about-img {
  flex: 1;
}
.about-img img {
  width: 500px;
  height: 700px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
.about-text {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
}

.about-text small {
  color: rgb(231, 106, 34);
  font-size: 30px;
}
.about-text h2 {
  flex: 1;
  font-family: Barlow Condensed;
  font-size: 60px;
  color: #ffffff;
  width: 700px;
}
.about-text label {
  padding-bottom: 10px;
  color: #ffffff;
  font-family: "Balsamiq Sans";
  letter-spacing: 1.2px;
  font-size: 18px;
}
.about-text p {
  width: 900px;
  line-height: 30px;
  color: #ffffff;
  padding: 50px 0;
  font-family: "Balsamiq Sans";
  letter-spacing: 1.2px;
  font-size: 22px;
}
.about-text a {
  background-color: #f45505;
  border: 2px solid black;
  text-decoration: none;
  border-radius: 8px;
  width: 140px;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Balsamiq Sans";;
}
.about-text a:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 1% 0%;
  color: gray;
  font-size: 1.2em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 1.3em;
  margin: 0% 1%;
}

@media (max-width: 1170px) {
  header {
    padding: 15px 24px;
  }

  section {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
  }

  .home .social {
    right: 15px;
  }

  .home .social a {
    font-size: 1.6em;
  }

  header .mid .navbar a {
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    margin: 20px;
  }

  header .mid .navbar a:before {
    background: rgb(255, 94, 0);
    height: 5px;
  }

  header .mid .active .navbar {
    background: rgb(97, 96, 96);
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  header .mid {
    display: none;
  }

  header .mid .active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(1, 1, 1, 0.5);
  }

  header .menu-btn {
    background: url(img/m3.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  header .menu-btn .active {
    z-index: 999;
    background: url(img/close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
    cursor: pointer;
  }
}
